extends layout.pug

block content
  .container
    h4 Input Data Diri
    span silahkan di input sesuai dengan data diri masing masing 
  br
  div
  .container
    .row.justify-content-center
      .col-md-8
        .card
          .card-header Input Data Diri
          .card-body
            form#formUpdate.form-horizontal(method='post' action='#')
              .mb-3
                div.row.invisible.d-none
                  div.col-md-3
                    label.form-label.control-label(for='id') ID
                  div.col-md-9
                    input#id.form-control(type='text' name='id' value=karyawans.id)
              .mb-3
                div.row
                  div.col-md-3
                    label.form-label.control-label(for='nama') Nama
                  div.col-md-9
                    input#nama.form-control(type='text' name='nama' value=karyawans.nama)
              .mb-3
                div.row
                  div.col-md-3
                    label.form-label.control-label(for='email') Email
                  div.col-md-9
                   input#email.form-control(type='email' name='email' value=karyawans.email)
              .mb-3
                div.row
                  div.col-md-3
                    label.form-label.control-label(for='divisi') Divisi
                  div.col-md-9
                   input#divisi.form-control(type='text' name='divisi' value=karyawans.divisi)
              .mb-3
                div.row
                  div.col-md-3
                    label.form-label.control-label(for='id_karyawan') ID Karyawan
                  div.col-md-9
                   input#id_karyawan.form-control(type='text' name='id_karyawan' value=karyawans.id_karyawan)
              .mb-3
                div.row
                  div.col-md-3
                    label.form-label.control-label(for='nomor_hp') Nomor HP
                  div.col-md-9
                   input#nomor_hp.form-control(type='text' name='nomor_hp' value=karyawans.nomor_hp)
              .mb-3
                div.row
                  div.col-md-3
                    label.form-label.control-label(for='alamat') Alamat
                  div.col-md-9
                   input#alamat.form-control(type='text' name='alamat' value=karyawans.alamat)
              .mb-3
                div.row
                  div.col-md-3
                    label.form-label.control-label(for='nik') NIK
                  div.col-md-9
                   input#nik.form-control(type='number' name='nik' value=karyawans.nik)
              .mb-3
                div.row
                  div.col-md-3
                    label.form-label.control-label(for='gdarah') Gologan Darah
                  div.col-md-1
                    input(type='radio',name='gdarah',value ='A')
                    print A
                  div.col-md-1
                    input(type='radio',name = 'gdarah',value ='B')
                    print B
                  div.col-md-1
                    input(type='radio',name = 'gdarah',value ='O')
                    print O
                  div.col-md-1
                    input(type='radio',name = 'gdarah',value ='AB')
                    print AB
              .mb-3
                div.row
                  div.col-md-3
                    label.form-label.control-label(for='npwp') NPWP
                  div.col-md-9
                   input#npwp.form-control(type='number' name='npwp' value=karyawans.npwp)
              .mb-3
                div.row
                    div.col-md-2
                        button#simpan.btn.btn-primary(type='submit') Simpan
                    div.col-md-1
                        button#hapus.btn.btn-danger(type='submit') Hapus
        br
        .mb-2
          a.btn.btn-primary(href="/karyawan/read") Back To List

    script.
        $("#hapus").click(function(){
            $("#formUpdate").attr("action", "/karyawan/delete/do")
            //- alert($("#formUpdate").attr("action"))
        })
        $("#simpan").click(function(){
            $("#formUpdate").attr("action", "/karyawan/update/do")
            //- alert($("#formUpdate").attr("action"))
        })
